@using MvcApplication1.Models

@{
    ViewBag.Title = "class report";
}

<h2 style="text-align:center">class report</h2>

<!--Razor引擎-->
@Html.Raw(ViewBag.htmlStr)

<html>
<head>
    <title>Index</title>
    <script type="text/javascript">
        function del(id) {
            if (confirm("Are you sure to delete?")) {
                window.location = "/class/del/" + id;
            }
        }
    </script>
    <style type="text/css">
        #tblist {
            border: 1px solid #0094ff;
            width: 1500px;
            margin: 10px auto;
            border-collapse: collapse;
        }

            #tblist th, td {
                border: 1px solid #0094ff;
                padding: 10px;
                text-align:center;
            }
    </style>
</head>
<body>
<table id="tblist">
    <tr>
        <th>id</th>
        <th style="width:150px;">name</th>
        <th style="width:400px;">description</th>
        <th>students</th>
    </tr>
    @foreach (@class cla in ViewData["DataList"] as List<@class>)
    {
        <tr>
            <td>@cla.id</td>
            <td>@cla.name</td>
            <td>@cla.description</td>
            <td>
                @foreach (string s in cla.sxc.Select(a=> a.student.name + "&nbsp&nbsp&nbsp" + a.student.dob.ToString().Split(' ')[0]))
                {
                    @Html.Raw(@s) <br/>
                }
            </td>
        </tr>
    }
    <tr>
            <td colspan="4">
             @Html.ActionLink("Back","Index","Class")
            </td>
        </tr>

</table>
</body>
</html>