@using MvcApplication1.Models

@{
    ViewBag.Title = "Repot";
}

<h2 style="text-align:center">Student Report</h2>

<!--Razor引擎-->
@Html.Raw(ViewBag.htmlStr)

<html>
<head>
    <title>Index</title>
    <script type="text/javascript">
        function del(id) {
            if (confirm("Are you sure to delete?")) {
                window.location = "/student/del/" + id;
            }
        }
    </script>
    <style type="text/css">
        #tblist {
            border: 1px solid #0094ff;
            width: 1600px;
            margin: 10px auto;
            border-collapse: collapse;
        }

            #tblist th, td {
                border: 1px solid #0094ff;
                padding: 10px;
                text-align:center;
            }
    </style>
</head>
<body>
<table id="tblist">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>date of birth</th>
        <th>class name</th>
        <th>class description</th>
    </tr>
    @foreach (student stu in ViewData["DataList"] as List<student>)
    {
        <tr>
            <td>@stu.id</td>
            <td>@stu.name</td>
            <td>@stu.dob.ToString().Split(' ')[0]</td>
            <td>@(stu.sxc.FirstOrDefault().@class.name)</td>
            <td>
                @(stu.sxc.FirstOrDefault().@class.description)
            </td>
        </tr>
    }
    <tr>
            <td colspan="5">
                @Html.ActionLink("Back","Index","Student") 
            </td>
        </tr>

</table>
</body>
</html>